# Python
*.pyc
*.pyo
*.pyd
__pycache__/
.pytest_cache/

# Poetry
*.egg-info
.dist-info/

# Docker
.docker/

# Virtual environments
.venv/
venv/
env/
ENV/
.env

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
